# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration



parameters:

    # Globals
    secret: dda87f9ah3321ed521fqa74234x64
    locale: fr


    # Primary Database
    database_host:      lt80glfe2gj8p5n2.chr7pe7iynqr.eu-west-1.rds.amazonaws.com
    database_port:      3306
    database_name:      poltergeist_blog
    database_user:      cqp7tvcn4ge5k1y8
    database_password:  hl2ius3619fpzzj0

